/* css file */
* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    color: #333333;
}

h1 {
    font-size: 32px;

}

body {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 24px 24px 24px;
    min-height: 80vh;
       
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-width: 1024px;
    gap: 24px;
}


.draw-and-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;

}

.drawing-area {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #333333;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.pixel {
    
    height: 100%;
    width: 100%;
}



.controler-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 168px;
}

.simple-or-rainbow {
    display: flex;
    border: 2px solid #000000;
    border-radius: 8px;
    width: 100%;
    height: 44px;
}

.switch {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
}

.button {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
}

.size-selector {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;

}

  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #000;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}


#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 82px;
    height: 86px;
    border: none;
    cursor: pointer;
}


#colorPicker::-webkit-color-swatch {
  border-radius: 64px;
  border: 1px solid #000000;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

#colorPicker::-moz-color-swatch {
    border-radius: 64px;
    border: 1px solid #000000;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

